@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,400;6..96,900&family=Kaushan+Script&family=Poppins:wght@200;400&family=Work+Sans:wght@300;400;500;600;700;800;900&display=swap');

*::before,
*::after,
* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Bodoni Moda', serif;
     font-family: 'Kaushan Script', cursive;
     font-family: 'Poppins', sans-serif;
     font-family: 'Work Sans', sans-serif;
}

body {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
     width: 100vw;
     background-image: url("psg.avif");
     background-position: center;
     background-size: cover;
     backdrop-filter: blur(10px);

     /* background-color: blanchedalmond; */
}

.container {
     transform-style:preserve-3d;
     transform:perspective(1000px);
     height: 83%;
     width: 30%;
     /* outline: 1px solid blue; */
     position: relative;


     .blue-div {
          background-color:navy;
          height: 50%;
          width: 100%;
          position: absolute;
          top: 0px;
          z-index: 2;
     }

     .white-div {
          background-color: white;
          height: 50%;
          width:100%;
          position: absolute;
          bottom:0px;
     }

     .image-div {
          background-image: url("messi\ image\ bg\ removed.png");
          /* aspect-ratio: 9/16; */
          height: 520px;
          background-repeat: no-repeat;
          width: 300px;
          background-position: center;
          background-size: cover;
          position: absolute;
          top: 0%;
          left: 25%;
          z-index: 14;
          transform: translateZ(40px);
     }

     .text-div {
          font-size: 320px;
          color: white;
          position: absolute;
          font-weight: 900;
          z-index: 5;
          top:8%;
          left:5%;
     }
}
.leonel-text{
     position: absolute;
     color:#000;
     top:340px;
     left:40px;
     z-index: 6;
     font-size: larger;
}
.messi-text{
     position: absolute;
     color:black;
     color:rgb(149, 19, 19);
     top:350px;
     left:38px;
     z-index: 6;
     font-size:50px;
}
.goat-text{
     position: absolute;
     top:343px;
     left:29px;
     z-index: 6;
     font-size:10px;
     writing-mode: vertical-lr;
}
.shadow-box1{
     text-shadow: 10px 10px 10px black;
     z-index:0px;
     /* height:12px; */
     position: absolute;
     bottom:70px;
     background-color: white;
     color:transparent;
     right:210px;
}
.shadow-box2{
     text-shadow: 10px 10px 10px black;
     z-index:0px;
     /* height:12px; */
     position: absolute;
     bottom:70px;
     background-color: white;
     /* color:white; */
     right:100px;
     color:transparent;
     /* transform:rotateX(30deg); */
}