*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
html,body{
     height: 100vh;
     width: 100vw;
     scroll-behavior: smooth;
}
@keyframes progress{
     from{
          transform: scaleX(0);
     }
     to{
          transform: scaleX(1);
     }
}
.progress{
     position: fixed;
     left:0;
     top:0;
     width: 100%;
     height:16px;
     background-color: red;
     transform-origin: left;
     animation: progress auto linear;
     animation-timeline: scroll();
}